# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables (IMPORTANT for OAuth)
.env

# Mac
.DS_Store

# VSCode
.vscode/

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py